@charset "UTF-8";

/* ヘッダー */
header{
  width: 1000px;
  background-color: #ffcccc;
  margin: 0 auto;
}

/* メイン部分 */
#wrapper{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#main{
  width: 700px;
  background-color: #ccffcc;
}

#menu{
  width: 300px;
  background-color: #ccccff
}

footer{
  width:1000px;
  background-color: #ffccff;
  margin: 0 auto;
}